<!DOCTYPE html>
<html lang="en">

<div class="footer bili-footer report-wrap-module">
    <div class="footer-wrp">
        <div class="footer-cnt clearfix report-wrap-module">
            <ul class="boston-postcards">
                <li>
                    <div class="tips">
                        Dark Video
                    </div>
                    <div class="cards">
                        <a target="_blank" href="javascript:;">
                            关于我们
                        </a>
                    </div>
                    <div class="cards">
                        <a target="_blank" href="javascript:;">
                            联系我们
                        </a>
                    </div>
                    <div class="cards">
                        <a target="_blank" href="javascript:;">
                            加入我们
                        </a>
                    </div>
                    <div class="cards">
                        <a target="_blank" href="javascript:;">
                            活动中心
                        </a>
                    </div>
                    <div class="cards">
                        <a target="_blank" href="javascript:;">
                            会员认证
                        </a>
                    </div>
                    <div class="cards">
                        <a target="_blank" href="javascript:;">
                            用户反馈
                        </a>
                    </div>
                </li>
                <li>
                    <div class="tips">
                        传送门
                    </div>
                    <div class="cards">
                        <a target="_blank" href="javascript:;">
                            帮助中心
                        </a>
                    </div>
                    <div class="cards">
                        <a target="_blank" href="javascript:;">
                            高级福利
                        </a>
                    </div>
                    <div class="cards">
                        <a target="_blank" href="javascript:;">
                            活动专题页
                        </a>
                    </div>
                    <div class="cards">
                        <a target="_blank" href="javascript:;">
                            侵权申诉
                        </a>
                    </div>
                </li>
                <li>
                    <div class="tips">
                        Service Global
                    </div>
                    <div class="cards">
                        <a target="_blank" href="javascript:;">
                            常见问题
                        </a>
                    </div>
                    <div class="cards">
                        <a target="_blank" href="javascript:;">
                            使用条例
                        </a>
                    </div>
                    <div class="cards">
                        <a target="_blank" href="javascript:;">
                            隐私政策
                        </a>
                    </div>
                    <div class="cards">
                        <a target="_blank" href="javascript:;">
                            国际服务
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

</html>