<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">

<!-- 头部 -->
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- 导航头部 -->
        <div class="navbar-header">
            <!-- 移动设备上的导航切换按钮 -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-example">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- 品牌名称或logo -->
            <a class="navbar-brand" href="/">Dark Video</a>
        </div>
        <!-- 导航项目 -->
        <div class="collapse navbar-collapse navbar-collapse-example">
            <!-- 导航中的表单 -->
            <form class="navbar-form navbar-left" role="search" action="#" method="post">
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
                <button type="submit" class="btn btn-default">全站搜索</button>
            </form>
            <!-- 一般导航项目 -->
            <ul class="nav navbar-nav navbar-right">
                <!-- 导航中的下拉菜单 -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="http://zui.sexy/docs/img/img2.jpg" width="20px" height="20px" class="img-circle" alt="圆形图片">
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/manager">管理中心</a></li>
                            <li><a href="#">退出登录</a></li>
                        </ul>
                    </a>
                </li>
                <li><a href="#">消息</a></li>
                <li><a href="#">动态</a></li>
                <li><a href="#">稍后再看</a></li>
                <li><a href="#">收藏夹</a></li>
                <li><a href="#">历史</a></li>
                <li><a href="#">投稿</a></li>
            </ul>
        </div>
    </div>
</nav>

</html>