<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>管理中心 - Dark Video</title>
    <link th:href="@{/assets/zui/css/zui.min.css}" rel="stylesheet">
</head>
<body>

<nav th:replace="common/nav::html"></nav>

<div class="container">
    <!-- 资源设置 -->
    <div class="panel">
        <div class="panel-heading">
            <h2>资源设置</h2>
        </div>
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon">内容目录【末尾不要加斜杠】</span>
                <input type="text" id="inputResContent" class="form-control">
            </div><br>
            <div class="input-group">
                <span class="input-group-addon">缩略图目录【末尾不要加斜杠】</span>
                <input type="text" id="inputResThumbnail" class="form-control">
            </div><br>
            <div class="input-group">
                <span class="input-group-addon">内容服务器【末尾不要加斜杠】</span>
                <input type="text" id="inputContentIp" class="form-control">
            </div><br>
            <div class="input-group">
                <span class="input-group-addon">缩略图服务器【末尾不要加斜杠】</span>
                <input type="text" id="inputThumbnailIp" class="form-control">
            </div><br>
            <button class="btn btn-primary" type="button" onclick="updateRes()">更新配置信息</button>
            <button class="btn btn-danger" type="button" onclick="genDirectory()" style="float:right; margin-left: 10px;"><i class="icon icon-undo"></i> 重新生成目录/内容</button>
            <button class="btn btn-success" type="button" onclick="cleanThumbnail()" style="float:right"><i class="icon icon-eraser"></i> 清理缩略图</button>
        </div>
    </div>
</div>

<script th:src="@{/assets/js/jquery.js}"></script>
<script th:src="@{/assets/js/http.js}"></script>
<script th:src="@{/assets/layer/layer.js}"></script>
<script th:src="@{/assets/zui/js/zui.min.js}"></script>
<script>
    $(function () {
        // 读取资源信息
        sendJson("get", "/manager/res", null, false, function (res) {
                if (res.code === 0) {
                    $("#inputResContent").val(res.data.resContent);
                    $("#inputResThumbnail").val(res.data.resThumbnail);
                    $("#inputContentIp").val(res.data.contentIp);
                    $("#inputThumbnailIp").val(res.data.thumbnailIp);
                } else {
                    layer.msg(res.info, {icon: 2});
                }
            },
            function () {
                layer.msg("未知错误", {icon: 2});
            });
    });

    // 更新资源
    function updateRes() {
        let resContent = $("#inputResContent").val();
        let resThumbnail = $("#inputResThumbnail").val();
        let contentIp = $("#inputContentIp").val();
        let thumbnailIp = $("#inputThumbnailIp").val();

        if(resContent == null || resContent == '' ||
            resThumbnail == null || resThumbnail == '' ||
            contentIp == null || contentIp == '' ||
            thumbnailIp == null || thumbnailIp == '') {
            layer.msg("信息不能为空", {icon: 2});
            return false;
        }

        let data = {
            resContent:resContent,
            resThumbnail:resThumbnail,
            contentIp:contentIp,
            thumbnailIp:thumbnailIp
        };

        sendJson("post", "/manager/res", data, false, function (res) {
                if (res.code === 0) {
                    layer.msg("更新成功", {icon: 1});
                } else {
                    layer.msg(res.info, {icon: 2});
                }
            },
            function () {
                layer.msg("未知错误", {icon: 2});
            });
    }

    // 清理缩略图
    function cleanThumbnail() {
        layer.confirm("清理缩略图将耗费一定时间，确定清理？", {
            btn: ['确定', '取消']
        }, function () {
            let index = layer.load();
            sendJson("delete", "thumbnail/clean", null, false, function (res) {
                if (res.code !== 0) {
                    layer.msg(res.info, {icon: 2});
                } else {
                    layer.msg("清理完成，共清理：" + res.data + " 个", {icon: 1});
                }
            }, function () {
                layer.msg("未知错误", {icon: 2});
            });
            layer.close(index);
        }, function () {
        });
    }

    // 生成目录
    function genDirectory() {
        layer.confirm("重新生成耗时较长确定要重新生成目录吗？", {
            btn: ['确定', '取消']
        }, function () {
            let index = layer.load();
            sendJson("post", "/category/gen", null, false, function (res) {
                if (res.code !== 0) {
                    layer.msg(res.info, {icon: 2});
                } else {
                    layer.msg("生成成功", {icon: 1});
                }
            }, function () {
                layer.msg("未知错误", {icon: 2});
            });
            layer.close(index);
        }, function () {
        });
    }
</script>
</body>
</html>