<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jit.wxs.dv.mapper.DvContentMapper">

    <select id="listIdsByFirstCategory" resultType="java.lang.String">
        SELECT id FROM `dv_content` WHERE `first_category` = #{firstCategory}
    </select>

    <select id="pageByCategory" resultType="jit.wxs.dv.domain.entity.DvContent">
        SELECT * FROM `dv_content` where
        <if test="column == 'first_category'">
          `first_category` = #{category}
        </if>
        <if test="column == 'second_category'">
          `second_category` = #{category}
        </if>
    </select>
    <select id="hasExist" resultType="java.lang.Boolean">
        SELECT count(*) FROM `dv_content` where `id`=#{id}
    </select>
</mapper>
